<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=SEANS-LAPTOP;Initial Catalog=Storefront;Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="StorefrontEntities" connectionString="metadata=res://*/StoreFront.csdl|res://*/StoreFront.ssdl|res://*/StoreFront.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEANS-LAPTOP;initial catalog=Storefront;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>